<!doctype html>
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
	<head>
		<title>Patio Deck & Hearth Shop - Outdoor Furniture - Cleveland, Ohio</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--meta info-->
		<meta name="description" content="Cleveland's largest selection of indoor and outdoor furniture and fireplaces">
		<!--<link rel="icon" type="image/ico" href="images/fav.ico">-->
		<!--stylesheet include-->
		<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/settings.css">		
		<link rel="stylesheet" type="text/css" media="all" href="css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/owl.transitions.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/jquery.custom-scrollbar.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
		<!--font include-->
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<script src="js/modernizr.js"></script>
	</head>
	<body>
		<!--boxed layout-->
		<div class="boxed_layout relative w_xs_auto">
			<!--[if (lt IE 9) | IE 9]>
				<div style="background:#fff;padding:8px 0 10px;">
				<div class="container" style="width:1170px;"><div class="row wrapper"><div class="clearfix" style="padding:9px 0 0;float:left;width:83%;"><i class="fa fa-exclamation-triangle scheme_color f_left m_right_10" style="font-size:25px;color:#e74c3c;"></i><b style="color:#e74c3c;">Attention! This page may not display correctly.</b> <b>You are using an outdated version of Internet Explorer. For a faster, safer browsing experience.</b></div><div class="t_align_r" style="float:left;width:16%;"><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="button_type_4 r_corners bg_scheme_color color_light d_inline_b t_align_c" target="_blank" style="margin-bottom:2px;">Update Now!</a></div></div></div></div>
			<![endif]-->
			<!--markup header-->
			<header role="banner">
				<!--header top part-->
				<section class="h_top_part">
					<div class="container">
						<div class="row clearfix">
							<div class="col-lg-12 col-md-12 col-sm-12 t_xs_align_c">
								<p class="f_size_small"><b class="color_dark">(440) 564-2290 | Cleveland's largest selection of indoor and outdoor furniture and fireplaces.</b></p>
							</div>
						</div>
					</div>
				</section>
				<!--header bottom part-->
				<section class="h_bot_part container">
					<div class="clearfix row">
						<div class="col-lg-12 col-md-12 col-sm-12 t_xs_align_c">
							<span class="logotype">Patio, Deck & Hearth Shop</span>
						</div>
					</div>
				</section>
				<!--main menu container-->
				<section class="menu_wrap relative">
					<div class="container clearfix">
						<!--button for responsive menu-->
						<button id="menu_button" class="r_corners centered_db d_none tr_all_hover d_xs_block m_bottom_10">
							<span class="centered_db r_corners"></span>
							<span class="centered_db r_corners"></span>
							<span class="centered_db r_corners"></span>
						</button>
						<!--main menu-->
						<nav role="navigation" class="f_left f_xs_none d_xs_none">	
							<ul class="horizontal_list main_menu clearfix">
								<li class="relative f_xs_none m_xs_bottom_5"><a href="index.html" class="tr_delay_hover color_light tt_uppercase"><b>Home</b></a>
								</li>
								<li class="relative f_xs_none m_xs_bottom_5"><a href="product.html#" class="tr_delay_hover color_light tt_uppercase"><b>Indoor</b></a>
									<!--sub menu-->
									<div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
										<ul class="sub_menu">
											<li><a class="color_dark tr_delay_hover" href="product.html#">Wicker & Rattan</a></li>
										</ul>
									</div>
								</li>
								<li class="current relative f_xs_none m_xs_bottom_5"><a href="category.html" class="tr_delay_hover color_light tt_uppercase"><b>Outdoor</b></a>
									<!--sub menu-->
									<div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
										<ul class="sub_menu">
											<li><a class="color_dark tr_delay_hover" href="subcategory.html">Aluminum</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Cast Aluminum</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Wrought Aluminum</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">All-Weather Wicker</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Wood</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Marine Grade Polymer</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Miscellaneous & Accessories</a></li>
										</ul>
									</div>								
								</li>
								<li class="relative f_xs_none m_xs_bottom_5"><a href="product.html#" class="tr_delay_hover color_light tt_uppercase"><b>Fireplace & Hearth</b></a>
										<!--sub menu-->
									<div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
										<ul class="sub_menu">
											<li><a class="color_dark tr_delay_hover" href="product.html#">Fire Pits</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Gas Burning Fireplaces</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Wood Burning Fireplaces</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Electric Fireplaces</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Glass Doors & Screens</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Stainless Steel Outdoor Burners</a></li>
											<li><a class="color_dark tr_delay_hover" href="product.html#">Accessories</a></li>
										</ul>
									</div>									</li>
								<li class="relative f_xs_none m_xs_bottom_5"><a href="product.html#" class="tr_delay_hover color_light tt_uppercase"><b>Perfect Patio Gallery</b></a>			
								</li>
								<li class="relative f_xs_none m_xs_bottom_5"><a href="blog.html" class="tr_delay_hover color_light tt_uppercase"><b>Visit / Contact</b></a>
								</li>
							</ul>
						</nav>
					</div>
				</section>
			</header>
			<!--breadcrumbs-->
			<section class="breadcrumbs">
				<div class="container">
					<ul class="horizontal_list clearfix bc_list f_size_medium">
						<li class="m_right_10 current"><a href="product.html#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
						<li class="m_right_10 current"><a href="product.html#" class="default_t_color">Outdoor<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
						<li class="m_right_10 current"><a href="product.html#" class="default_t_color">Aluminum<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
						<li><a href="product.html#" class="default_t_color">URComfort Montreux Cushion Seating</a></li>
					</ul>
				</div>
			</section>			
			<!--content-->
			<div class="page_content_offset">
				<div class="container">
					<h2 class="tt_uppercase m_bottom_20 color_dark heading1 animate_ftr">Tropitone: URComfort Montreux Cushion Seating</h2>			
					<div class="row clearfix">
						<section class="col-lg-8 col-md-8 col-sm-8 m_bottom_25">
							<div class="photoframe r_corners shadow wrapper m_bottom_30">
								<img src="images/pdh/product-tropitone-ur-comfort.jpg" alt="" class="tr_all_long_hover">
							</div>						
						</section>
						<section class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
							<p class="m_bottom_10">The Montreux URComfort Cushion Collection harmonizes with the movement of your body to find the most comfortable position. Utilizing multiple pivot points and allowing movement of both back and seat, the Montreux URComfort Cushion Collection promises relaxation.</p>
							<p class="m_bottom_10">Designed by Peter Homestead, the Montreux URComfort Cushion outdoor furniture is sturdy, stylish, and delivers deep cushioning. Get the most from outdoor patio furniture by pairing Montreux Cushion pieces with coordinating outdoor Tropitone tables under a Basta Sole Market Umbrella.</p>
							<h5 class="fw_medium m_bottom_10">See this and other styles at our showroom!</h5>
							<p class="m_bottom_10">Visit our massive 20,000 square foot showroom for the largest selection of indoor and outdoor furniture and fireplaces in Northeast Ohio.</p>
							<a href="product.html#"><button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">store hours and directions</button></a>
						</section>						
					</div>
					
				
					<!--banners-->
					<div class="row clearfix">
						<div class="col-lg-4 col-md-4 col-sm-4">
							<a href="product.html#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners red t_align_c tt_uppercase vc_child n_sm_vc_child">
								<span class="d_inline_middle">
									<img class="d_inline_middle m_md_bottom_5" src="images/banner_img_3.png" alt="">
									<span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
										<b>Largest Selection</b><br><span class="color_dark">In Northeast Ohio</span>
									</span>
								</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<a href="product.html#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners green t_align_c tt_uppercase vc_child n_sm_vc_child">
								<span class="d_inline_middle">
									<img class="d_inline_middle m_md_bottom_5" src="images/banner_img_4.png" alt="">
									<span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
										<b>Delivery and Setup</b><br><span class="color_dark">Available</span>
									</span>
								</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<a href="product.html#" class="d_block animate_ftb h_md_auto banner_type_2 r_corners orange t_align_c tt_uppercase vc_child n_sm_vc_child">
								<span class="d_inline_middle">
									<img class="d_inline_middle m_md_bottom_5" src="images/banner_img_5.png" alt="">
									<span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
										<b>Special Orders</b><br><span class="color_dark">Are Our Speciality</span>
									</span>
								</span>
							</a>
						</div>
					</div>							
				</div>
			</div>
			<!--markup footer-->
			<footer id="footer">
				<div class="footer_top_part">
					<div class="container">
						<div class="row clearfix">
							<div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
								<h3 class="color_light_2 m_bottom_20">Cleveland's Outdoor Furniture & Fireplace Superstore</h3>
								<p class="m_bottom_25">Patio, Deck & Hearth Shop is one of the leading outdoor furniture and fireplace stores in Cleveland, Ohio. We take pride in our highly experienced and knowledgeable staff, our unique and extensive selection, and our reputation for standing behind the quality furniture we sell. Delivery and set up available from our staff. Please stop by and see our showroom today.</p>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
								<h3 class="color_light_2 m_bottom_20">Visit Our 20,000 Square Foot Retail Showroom</h3>
								<p class="m_bottom_25">
									<b>Monday through Saturday:</b> 10 AM - 5 PM | <b>Sunday:</b> Noon - 5 PM
								</p>
								<p class="m_bottom_25">
									<b>15 minutes east of Chagrin Falls on Route 87</b><br/>									
									10359 Kinsman Rd. (Route 87) | Newbury, Ohio 44065 | <a href="product.html#">Driving Directions</a>
								</p>
								<p class="m_bottom_25">
									<b>phone:</b> (440) 564-2290 | <b>fax:</b> (440) 564-2295 | <a href="product.html#">Email Us</a>
								</p>															
							</div>							
						</div>
					</div>
				</div>
				<!--copyright part-->
				<div class="footer_bottom_part">
					<div class="container clearfix t_mxs_align_c">
						<p class="f_left f_mxs_none m_mxs_bottom_10">&copy; 2016 <span class="color_light">Patio, Deck & Hearth Store</span>. All Rights Reserved.  <a href="http://www.pavlishgroup.com">Web Design by PavlishGroup – Cleveland Ohio</a></p>
						<ul class="f_right horizontal_list clearfix f_mxs_none d_mxs_inline_b">
							<li><img src="images/payment_img_2.png" alt=""></li>
							<li class="m_left_5"><img src="images/payment_img_3.png" alt=""></li>
							<li class="m_left_5"><img src="images/payment_img_4.png" alt=""></li>
							<li class="m_left_5"><img src="images/payment_img_5.png" alt=""></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
		<button class="t_align_c r_corners tr_all_hover animate_ftl" id="go_to_top"><i class="fa fa-angle-up"></i></button>
		<!--scripts include-->
		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="js/jquery-migrate-1.2.1.min.js"></script>
		<script src="js/retina.js"></script>
		<script src="js/jquery.themepunch.plugins.min.js"></script>
		<script src="js/jquery.themepunch.revolution.min.js"></script>		
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/jquery.isotope.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.tweet.min.js"></script>
		<script src="js/jquery.custom-scrollbar.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>