.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.cart-info {
    margin-top: 20px;
}

table.cart {
    font-size: 16px;
}

@media screen and (max-width: 600px) {

    table.cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .cart-info {
        text-align: center;
    }

    .actions .btn {
        width: 36%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    table.cart thead {
        display: none;
    }

    table.cart tbody td {
        display: block;
        min-width: 320px;
    }

    table.cart tbody tr td:first-child {
        background: #f8f8f8;
        color: #333;
    }

    table.cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
    }

    table.cart tfoot td {
        display: block;
    }

    table.cart tfoot td .btn {
        display: block;
    }

}

.img-thumbnail {
    border-radius: 0
}

.paginate {
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #204491;
    border-color: #204491;
}

a {
    color: #204491;
}

.menu-icon {
    width: 20px;
}

code {
    border-radius: 0
}

pre {
    border-radius: 0
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    webkit-box-shadow: none
}

.form-control:focus {
    border-color: gray;
    box-shadow: none;
    -webkit-box-shadow: none
}

.input-sm {
    border-radius: 0
}

.input-lg {
    border-radius: 0
}

.btn {
    border-radius: 0
}

.btn-lg {
    border-radius: 0
}

.btn-sm,
.btn-xs {
    border-radius: 0
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.dropdown-menu li {

}

.dropdown-menu li a {

}

.btn-group-xs > .btn {
    border-radius: 0
}

.btn-group-sm > .btn {
    border-radius: 0
}

.btn-group-lg > .btn {
    border-radius: 0
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    border-radius: 0
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    border-radius: 0
}

.input-group-addon {
    border-radius: 0
}

.input-group-addon.input-sm {
    border-radius: 0
}

.input-group-addon.input-lg {
    border-radius: 0
}

.nav-tabs > li > a {
    border-radius: 0
}

.nav-pills > li > a {
    border-radius: 0
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0
    }
}

.navbar-toggle {
    border-radius: 0
}

.navbar-toggle .icon-bar {
    border-radius: 0
}

.breadcrumb {
    border-radius: 0
}

.pagination {
    border-radius: 0
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.pager li > a,
.pager li > span {
    border-radius: 0
}

.label {
    border-radius: 0
}

.badge {
    border-radius: 0
}

.container .jumbotron {
    border-radius: 0
}

.thumbnail {
    border-radius: 0
}

.alert {
    border-radius: 0
}

.progress {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.progress-bar {
    box-shadow: none;
    -webkit-box-shadow: none
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.list-group-sub .list-group-item:focus {
    background: transparent;
!important
}

.panel {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.panel-footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.panel-group .panel {
    border-radius: 0
}

.well {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.well-lg {
    border-radius: 0
}

.well-sm {
    border-radius: 0
}

.close {
    text-shadow: none
}

.modal-content {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

@media screen and (min-width: 768px) {
    .modal-content {
        box-shadow: none;
        -webkit-box-shadow: none
    }
}

.tooltip-inner {
    border-radius: 0
}

.popover {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.popover-title {
    border-radius: 0
}

.carousel-control {
    text-shadow: none
}

.carousel-indicators li {
    border-radius: 0
}

.carousel-caption {
    text-shadow: none
}

.btn:active, .btn:focus, a:active, a:focus {
    outline: 0
}

.no-border-right {
    border-right: 0 !important
}

.no-border-left {
    border-left: 0 !important
}

.no-padding {
    padding: 0 !important
}

.hero-spacer {
    margin-top: 50px
}

.hero-feature {
    margin-bottom: 30px
}

select {
    border: 1px solid #ddd;
    padding: 3px
}

.green {
    color: green
}

.red {
    color: red
}

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans-CondLight-webfont-.eot#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
    url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont-.eot#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
    url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansRegular';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont-.eot#iefix') format('embedded-opentype'),
    url('../fonts/DroidSans-webfont.woff') format('woff'),
    url('../fonts/DroidSans-webfont.ttf') format('truetype'),
    url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #fff;
    color: #333;
    font-family: 'source_sans_proregular'
}

.main-container {
    background: #fff;
    padding-top: 20px;
    margin-bottom: 20px;
    /*box-shadow: 0 0 7px #384248*/
}

header {
    background: #fff;
    padding-top: 10px;
}

header .well {
    background: transparent;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0;
    padding-top: 50px;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

header .logo {
    padding: 0;
}

header .logo a {
    color: #333;
    font-family: 'open_sanscondensed_light';
    font-size: 35px;
}

header .logo a span {
    color: #428bca;
}

header .logo a:hover {
    text-decoration: none;
}

.slider {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

ul.bxslider {
    list-style: none;
}

.bx-wrapper {
    box-shadow: 0 0 0 1px #ddd;
    margin: 0 auto 10px;
}

.bx-wrapper img {
    width: 100%;
}

.bx-viewport {
    max-height: 500px !important;
}

.input-search {
    position: relative;
    z-index: 1;
}

.btn-group-cart, .btn-group-cart .btn {
    width: 100%;
}

.btn-group-cart .btn {
    text-align: center;
}

.btn-group-cart .dropdown-menu {
    left: inherit;
    right: 0;
    z-index: 1001;
}

.btn-group-cart .icon-cart {
    margin-right: 5px;
}

ul.cart-content {
    min-width: 250px;
}

ul.cart-content b {
    color: #428BCA;
    display: block;
    font-family: 'DroidSansRegular';
    /*font-size: 16px;*/
    font-weight: normal;
}

.link-p {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-height: 250px;
    width: 100%;
}

.first-p {
    min-height: 169px;
}

.def-img {
    height: inherit !important;
    left: inherit !important;
    max-height: inherit !important;
    max-width: inherit !important;
    position: inherit !important;
    top: inherit !important;
    width: auto !important;
}

.prod-caption {
    background: #fbfbfb;
}

.prod-caption h4 {
    font-size: 16px;
}

span.title {
    border-bottom: 3px solid #eee;
    color: #204491;
    display: block;
    font-family: 'open_sanscondensed_light';
    font-size: 20px;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

footer {
    background: #384248;
    color: #eee;
}

footer h4 {
    border-bottom: 1px solid #5d5d5d;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer .column ul {
    font-size: 13px;
    line-height: 22px;
    list-style: none;
    padding: 0;
}

footer .column ul a {
    color: #c3c6c8;
}

footer .copyright {
    background: #263238;
    color: #ccc;
    padding: 10px
}

.navbar {
    background: #204491;
    margin-bottom: 0;
    border-color: transparent;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-bottom: 17px;
        padding-top: 17px;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar li a {
    color: #fff;
    font-family: 'open_sanscondensed_light';
    font-size: 20px;
    text-transform: uppercase;
    transition: all 100ms ease-in-out 0s;
    -moz-transition: all 100ms ease-in-out 0s;
    -ms-transition: all 100ms ease-in-out 0s;
    -o-transition: all 100ms ease-in-out 0s;
    -webkit-transition: all 100ms ease-in-out 0s;
}

.navbar li a:hover, .navbar li a.active {
    background-color: #009DDB !important;

}
.navbar li a.active {
    color: #fff !important;
}
.navbar li.nav-dropdown .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.navbar li.nav-dropdown.open > a {
    background-color: #009DDB !important;
}

@media (min-width: 768px) {
    .navbar li.nav-dropdown ul li a {
        color: #333;
        font-family: Arial;
        font-size: 18px;
        text-transform: inherit;
    }

    .navbar li.nav-dropdown ul li a:hover {
        background-color: #f1f1f1 !important;
    }
}

.thumbnail:hover {
    border: 1px solid gray;
}

.catalogue-pagination {
    margin: 0;
    margin-bottom: 40px;
}

.catalogue-pagination li.disabled:hover a {
    cursor: default;
}

.catalogue-pagination li a {
    padding: 6px 10px;
    transition: all 100ms ease-in-out 0s;
    -moz-transition: all 100ms ease-in-out 0s;
    -ms-transition: all 100ms ease-in-out 0s;
    -o-transition: all 100ms ease-in-out 0s;
    -webkit-transition: all 100ms ease-in-out 0s;
}

.back-top {
    background: #384248;
    bottom: 0;
    color: #fff;
    display: none;
    height: 23px;
    position: fixed;
    right: 0;
    width: 30px;
}

.back-top:hover, .back-top:focus, .back-top:active {
    color: #fff;
}

.back-top:hover {
    background: #263238;
    transition: all 100ms ease-in-out 0s;
    -moz-transition: all 100ms ease-in-out 0s;
    -ms-transition: all 100ms ease-in-out 0s;
    -o-transition: all 100ms ease-in-out 0s;
    -webkit-transition: all 100ms ease-in-out 0s;
}

.tbl-cart thead {
    background: #f8f8f8
}

.tbl-cart .td-qty {
    white-space: normal !important;
    width: 130px;
}

.btns-cart .btn {
    margin-bottom: 1px;
    margin-right: 3px;
}

.tbl-checkout tbody tr td:nth-child(odd) {
    background: #f8f8f8;
}

.input-qty-detail .bootstrap-touchspin {
    float: left;
    margin-right: 5px;
    width: 130px;
}

.product-thumb-image {
    padding: 2px
}

.product-main-image, .product-thumb-image .thumbnail {
    margin-bottom: 0
}

.product-main-image {
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in
}

.product-main-image-container {
    position: relative
}

.product-loader {
    height: 9px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 60px;
    z-index: 1
}

.product-short-detail label {
    font-weight: normal
}

.product-short-detail .col-xs-8:before {
    content: ':';
    margin-right: 3px
}

.the-list {
    float: left;
    margin: 10px 0;
    width: 100%
}

.the-list h3 {
    margin: 0
}

.the-list select {
    display: inline;
    width: auto
}

.input-qty-detail .bootstrap-touchspin {
    float: left;
    margin-bottom: 1px;
    margin-right: 5px;
    width: 130px
}

.add-to-detail a {
    color: #333;
    font-size: 12px
}

.product-detail-tab .nav-tabs a:focus, .product-detail-tab .nav-tabs a:active {
    outline: 0
}

.product-detail-tab .well {
    background: #fff;
    border-top: 0
}

#detail table tr td:first-child, .comparison tbody tr td:first-child, .compare-product {
    background: #f8f8f8
}

.comparison {
    text-align: center
}

.comparison tbody tr td:first-child {
    text-align: left
}

.product-rating {
    color: #FFCC00;
    font-size: 12px;
    margin-top: 5px
}

.media a.pull-left:hover {
    text-decoration: none
}

#review .media {
    padding-bottom: 10px
}

.tbl-cart .td-qty {
    width: 130px
}

.tbl-cart label {
    font-weight: inherit
}

.tbl-cart thead {
    background: #f8f8f8
}

.login-form {
    margin-top: 10px;
    max-width: 380px
}

.login-form .panel {
    background-color: #fff;
    border: 1px solid #ddd;
}

.btn-login-social {
    width: 30px
}

@media (min-width: 992px) {
    .product-detail {
        float: right
    }
}

.white-container {
    background-color: #fff;
    padding: 15px;
    position: relative;
}

.list-group-submenu {
    margin-left: 20px;
}

.panel-cat {
    border: 0
}

.panel-cat > a {
    background: #f5f5f5
}

.panel-cat i.fa-caret-down {
    margin-left: 10px
}

.panel-cat .list-group-sub > a {
    padding-left: 25px
}

.panel-cat .list-group-sub a:last-child {
    border-bottom: 0
}

.panel-cat .list-group-sub:last-child a:last-child {
    border-bottom: 1px solid #ddd
}

.blog-list {
    margin-bottom: 20px
}

.blog-list h4 {
    margin-top: 0
}

.blog-info {
    font-size: 12px;
    margin-bottom: 10px
}

.blog-info, .blog-info a {
    color: #cfcfcf
}

.blog-info i {
    margin-left: 10px
}

.blog-info i:first-child {
    margin-left: 0
}

.blog-list-group-item {
    background: transparent;
    border: 0;
    border-bottom: 1px dotted #ccc;
    padding-left: 10px
}

.blog-list-group-item a {
    color: inherit
}

.blog-detail .thumbnail img {
    width: 100%
}

.cart-menu {
    margin-top: 10px;
}

.cart-menu li {

}

.cart-menu li a {
    font-size: 15px !important;
    color: #000 !important;
}

.cart-menu li a:hover, .cart-menu li a:active {
    background-color: transparent !important;
}

.cart-menu li a:hover {
    background-color: #f1f1f1 !important;
}

.imageGallery {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.imageGallery li {
    display: inline-block;
    padding: 5px;

}
.lSSlideOuter .lSPager.lSGallery {
    width: 100% !important;
}
.lSSlideOuter .lSPager.lSGallery li  {
    min-width: 175px !important;
}
#imageGallery li img {
    max-width: 100%;
}

.product-image {
    position: relative;
}

.product-image .badge-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 40px;
}

.mobile-spacing {
    margin: 40px 0;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


.product-image > img {
    position: relative;
    height: 180px;
    margin: 0 auto;
}
